{% extends 'base.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'css/libs.bundle.css' %}">

    <link rel="stylesheet" href="{% static 'css/theme.bundle.css' %}">

    <title>Shopper</title>
</head>
<body>
    {% block content %}
        <nav class="my-5">
      <div class="container">
        <div class="row">
          <div class="col-12">

            <!-- Breadcrumb -->
            <ol class="breadcrumb mb-0 fs-xs text-gray-400">
              <li class="breadcrumb-item">
                <a class="text-gray-400" href="index.html">Home</a>
              </li>
              <li class="breadcrumb-item active">
                About Us
              </li>
            </ol>

          </div>
        </div>
      </div>
    </nav>

        <section>
          <div class="container">
            <div class="row justify-content-center py-14 bg-cover" style="background-image: url({% static 'images/cover-21.jpg' %});">
              <div class="col-12 col-md-8 col-lg-6 col-xl-5">

                <!-- Heading -->
                <h1 class="mb-0 text-center text-white">
                  We believe we can all make a stylish.
                </h1>

              </div>
            </div>
          </div>
        </section>

        <section class="py-12">
          <div class="container">
            <div class="row align-items-center justify-content-between">
              <div class="col-12 col-md-6">

                <!-- Image -->
                <img src="{% static 'images/product-62.jpg' %}" alt="..." class="img-fluid w-50">

                <!-- Image -->
                <div class="text-end mt-n13 mt-lg-n15 mb-10 mb-md-0">
                  <img src="{% static 'images/product-63.jpg' %}" alt="..." class="img-fluid w-75">
                </div>

              </div>
              <div class="col-12 col-md-6 col-lg-5">

                <!-- Preheading -->
                <h6 class="heading-xxs mb-3 text-gray-400">
                  Our story
                </h6>

                <!-- Heading -->
                <h2 class="mb-7">About our Store</h2>

                <!-- Text -->
                <p class="fs-lg text-muted">
                  Open created shall two he second moving whose. He face
                  whose two upon, fowl behold waters. Fly there their day
                  creepeth. Darkness beginning spirit after. Creepeth subdue.
                  Brought may, first. Under living that.
                </p>
                <p class="mb-0 fs-lg text-muted">
                  Third. For morning whales saw were had seed can't divide
                  it light shall moveth, us blessed given wherein.
                </p>

              </div>
            </div>
          </div>
        </section>

        <section class="py-12 bg-light">
          <div class="container">
            <div class="row">
              <div class="col-12 text-center">

                <!-- Heading -->
                <h2 class="mb-10">Fashion Democracy</h2>

              </div>
            </div>
            <div class="row justify-content-center mb-9 fs-lg text-gray-500">
              <div class="col-12 col-md-5">

                <p>
                  And whales be, earth thing seed whales, forth beginning
                  made may beginning sea great void likeness open beast
                  firmament very living cattle divided fruitful may. Sea
                  created saw fifth so thing signs meat.
                </p>
                <p class="mb-md-0">
                  Green fruit meat stars, creepeth second he meat. Appear
                  is fruitful given Winged. Gathered second so us saying
                  blessed, he.
                </p>

              </div>
              <div class="col-12 col-md-6 col-lg-5 fs-lg text-gray-500">

                <p>
                  Male was. Itself. Have isn't first divide and i day, moving
                  she'd appear open dominion sea him days multiply our,
                  make firmament rule there made set midst creeping let
                  won't morning their great fish.
                </p>
                <p class="mb-0">
                  Unto over unto together first shall greater yielding made
                  dominion fill. First waters bring made blessed likeness
                  bring forth had. Creature one.
                </p>

              </div>
            </div>
            <div class="row">
              <div class="col-12 text-center">

                <!-- Button -->
                <a class="btn btn-dark" href="shop.html">
                  Shop Now <i class="fe fe-arrow-right ms-2"></i>
                </a>

              </div>
            </div>
          </div>
        </section>

        <section class="py-12">
          <div class="container">
            <div class="row align-items-center justify-content-between">
              <div class="col-12 col-md-6 order-md-2 text-end">

                <!-- Image -->
                <img src="{% static 'images/product-36.jpg' %}" alt="..." class="img-fluid w-50">

                <!-- Image -->
                <div class="text-start mt-n13 mt-lg-n15 mb-10 mb-md-0">
                  <img src="{% static 'images/product-37.jpg' %}" alt="..." class="img-fluid w-75">
                </div>

              </div>
              <div class="col-12 col-md-6 col-lg-5 order-md-1">

                <!-- Preheading -->
                <h6 class="heading-xxs mb-3 text-gray-400">
                  Who we are
                </h6>

                <!-- Heading -->
                <h2 class="mb-7">Our Story</h2>

                <!-- Text -->
                <p class="fs-lg text-muted">
                  Behold divided hath without. Place dominion. Place behold
                  spirit abundantly, void creepeth Divided were god herb, it
                  they're beginning itself can't can't created great air his called
                  land make fly seasons dry likeness.
                </p>
                <p class="mb-0 fs-lg text-muted">
                  Fish upon you you'll midst waters. Divided had life years to
                  own gathering replenish seasons Great meat. Cattle earth
                  were signs winged so image together also.
                </p>

              </div>
            </div>
          </div>
        </section>

        <section>
          <div class="container">
            <div class="row justify-content-center py-12 bg-primary bg-pattern">
              <div class="col-12 col-lg-10 col-xl-8">

                <!-- Text -->
                <p class="fs-5 lh-base text-center text-white mb-0">
                  Together won't divided fourth let grass above forth. Creature midst let
                  cattle place tree. Gathered whose land form fruitful under bring creeping
                  in upon void man unto divided itself gathered.
                </p>

              </div>
            </div>
          </div>
        </section>

        <section class="pt-12">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12 col-md-6 col-lg-5">

                <!-- Image -->
                <img class="img-fluid mb-7" src="{% static 'images/product-116.jpg' %}" alt="...">

                <!-- Image -->
                <img class="img-fluid mb-7 mb-md-0" src="{% static 'images/product-117.jpg' %}" alt="...">

              </div>
              <div class="col-12 col-md-6 col-lg-5">

                <!-- Image -->
                <img class="img-fluid mb-7 mt-md-12" src="{% static 'images/product-118.jpg' %}" alt="...">

                <!-- Image -->
                <img class="img-fluid mb-7 mb-md-0" src="{% static 'images/product-119.jpg' %}" alt="...">

              </div>
            </div>
          </div>
        </section>

        <section class="pt-12">
          <div class="container">
            <div class="row">
              <div class="col-12 text-center">

                <!-- Preheading -->
                <h6 class="heading-xxs mb-3 text-gray-400">
                  What buyers say
                </h6>

                <!-- Heading -->
                <h2 class="mb-10">
                  Customers Reviews
                </h2>

                <!-- Slider -->
                <div class="flickity-buttons-lg flickity-buttons-offset px-lg-12" data-flickity="{" prevnextbuttons":="" true,="" "pagedots":="" true}"="">

                  <!-- Item -->
                  <blockquote class="blockquote col-12 px-4">
                    <p class="mb-6">
                      Given wherein. Doesn't called also and air sea to make first subdue
                      beginning. Appear seasons the it after whose beginning. Hath can't good life. They're multiply made give divided open, be likeness Cattle be have.
                      Life tree darkness. She'd very.
                    </p>
                    <footer class="blockquote-footer">
                      Darrell Baker, <time datetime="2019-05-18">18 May 2019</time>
                    </footer>
                  </blockquote>

                  <!-- Item -->
                  <blockquote class="blockquote col-12 px-4">
                    <p class="mb-6">
                      Given wherein. Doesn't called also and air sea to make first subdue
                      beginning. Appear seasons the it after whose beginning. Hath can't good life. They're multiply made give divided open, be likeness Cattle be have.
                      Life tree darkness. She'd very.
                    </p>
                    <footer class="blockquote-footer">
                      Darrell Baker, <time datetime="2019-05-18">18 May 2019</time>
                    </footer>
                  </blockquote>

                  <!-- Item -->
                  <blockquote class="blockquote col-12 px-4">
                    <p class="mb-6">
                      Given wherein. Doesn't called also and air sea to make first subdue
                      beginning. Appear seasons the it after whose beginning. Hath can't good life. They're multiply made give divided open, be likeness Cattle be have.
                      Life tree darkness. She'd very.
                    </p>
                    <footer class="blockquote-footer">
                      Darrell Baker, <time datetime="2019-05-18">18 May 2019</time>
                    </footer>
                  </blockquote>

                </div>

              </div>
            </div>
          </div>
        </section>

        <section class="pt-12">
          <div class="container bg-h-100" style="background-image: url({% static 'images/cover-15.jpg' %});">
            <div class="row">
              <div class="col-12 py-13 text-center">

                <!-- Button -->
                <a href="#!" class="btn btn-white px-8">@shopper</a>

              </div>
            </div>
          </div>
        </section>

        <section class="py-9">
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-6 col-lg-3">

                <!-- Item -->
                <div class="d-flex mb-6 mb-lg-0">

                  <!-- Icon -->
                  <i class="fe fe-truck fs-lg text-primary"></i>

                  <!-- Body -->
                  <div class="ms-6">

                    <!-- Heading -->
                    <h6 class="heading-xxs mb-1">
                      Free shipping
                    </h6>

                    <!-- Text -->
                    <p class="mb-0 fs-sm text-muted">
                      From all orders over $100
                    </p>

                  </div>

                </div>

              </div>
              <div class="col-12 col-md-6 col-lg-3">

                <!-- Item -->
                <div class="d-flex mb-6 mb-lg-0">

                  <!-- Icon -->
                  <i class="fe fe-repeat fs-lg text-primary"></i>

                  <!-- Body -->
                  <div class="ms-6">

                    <!-- Heading -->
                    <h6 class="mb-1 heading-xxs">
                      Free returns
                    </h6>

                    <!-- Text -->
                    <p class="mb-0 fs-sm text-muted">
                      Return money within 30 days
                    </p>

                  </div>

                </div>

              </div>
              <div class="col-12 col-md-6 col-lg-3">

                <!-- Item -->
                <div class="d-flex mb-6 mb-md-0">

                  <!-- Icon -->
                  <i class="fe fe-lock fs-lg text-primary"></i>

                  <!-- Body -->
                  <div class="ms-6">

                    <!-- Heading -->
                    <h6 class="mb-1 heading-xxs">
                      Secure shopping
                    </h6>

                    <!-- Text -->
                    <p class="mb-0 fs-sm text-muted">
                      You're in safe hands
                    </p>

                  </div>

                </div>

              </div>
              <div class="col-12 col-md-6 col-lg-3">

                <!-- Item -->
                <div class="d-flex">

                  <!-- Icon -->
                  <i class="fe fe-tag fs-lg text-primary"></i>

                  <!-- Body -->
                  <div class="ms-6">

                    <!-- Heading -->
                    <h6 class="mb-1 heading-xxs">
                      Over 10,000 Styles
                    </h6>

                    <!-- Text -->
                    <p class="mb-0 fs-sm text-muted">
                      We have everything you need
                    </p>

                  </div>

                </div>

              </div>
            </div>
          </div>
        </section>
    {% endblock %}
</body>
</html>