{% extends 'base.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/libs.bundle.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme.bundle.css' %}">
    <title>Sunnet kiim.</title>
</head>
<body>
    {% block content %}
        <section>
      <div class="row gx-0 d-block d-lg-flex flickity flickity-lg-none" data-flickity='{"watchcss": true}'>

        <!-- Item -->
        <div class="col-12 col-md-6 col-lg-4 d-flex flex-column bg-cover" style="background-image: url({% static 'images/cover-1.jpg' %});">
          <div class="card bg-dark-5 bg-hover text-white text-center" style="min-height: 470px;">
            <div class="card-body mt-auto mb-n11 py-8">

              <!-- Heading -->
              <h1 class="mb-0 fw-bolder">
                Women
              </h1>

            </div>
            <div class="card-body mt-auto py-8">

              <!-- Button -->
              <a class="btn btn-white stretched-link" href="shop.html">
                Shop Women <i class="fe fe-arrow-right ms-2"></i>
              </a>

            </div>
          </div>
        </div>

        <!-- Card -->
        <div class="col-12 col-md-6 col-lg-4 d-flex flex-column bg-cover" style="background-image: url({% static 'images/cover-2.jpg' %});">
          <div class="card bg-dark-5 bg-hover text-white text-center" style="min-height: 470px;">
            <div class="card-body mt-auto mb-n11 py-8">

              <!-- Heading -->
              <h1 class="mb-0 fw-bolder">
                Men
              </h1>

            </div>
            <div class="card-body mt-auto py-8">

              <!-- Button -->
              <a class="btn btn-white stretched-link" href="shop.html">
                Shop Men <i class="fe fe-arrow-right ms-2"></i>
              </a>

            </div>
          </div>
        </div>

        <!-- Card -->
        <div class="col-12 col-md-6 col-lg-4 d-flex flex-column bg-cover" style="background-image: url({% static 'images/cover-3.jpg' %});">
          <div class="card bg-dark-5 bg-hover text-white text-center" style="min-height: 470px;">
            <div class="card-body mt-auto mb-n11 py-8">

              <!-- Heading -->
              <h1 class="mb-0 fw-bolder">
                Kids
              </h1>

            </div>
            <div class="card-body mt-auto py-8">

              <!-- Button -->
              <a class="btn btn-white stretched-link" href="shop.html">
                Shop Kids <i class="fe fe-arrow-right ms-2"></i>
              </a>

            </div>
          </div>
        </div>

      </div>
    </section>

        <section class="pt-7">
          <div class="container">
            <div class="row pb-7 border-bottom">
              <div class="col-12 col-md-6 col-lg-3">

                <!-- Item -->
                <div class="d-flex mb-6 mb-lg-0">

                  <!-- Icon -->
                  <i class="fe fe-truck fs-lg text-primary"></i>

                  <!-- Body -->
                  <div class="ms-6">

                    <!-- Heading -->
                    <h6 class="heading-xxs mb-1">
                      Free shipping
                    </h6>

                    <!-- Text -->
                    <p class="mb-0 fs-sm text-muted">
                      From all orders over $100
                    </p>

                  </div>

                </div>

              </div>
              <div class="col-12 col-md-6 col-lg-3">

                <!-- Item -->
                <div class="d-flex mb-6 mb-lg-0">

                  <!-- Icon -->
                  <i class="fe fe-repeat fs-lg text-primary"></i>

                  <!-- Body -->
                  <div class="ms-6">

                    <!-- Heading -->
                    <h6 class="mb-1 heading-xxs">
                      Free returns
                    </h6>

                    <!-- Text -->
                    <p class="mb-0 fs-sm text-muted">
                      Return money within 30 days
                    </p>

                  </div>

                </div>

              </div>
              <div class="col-12 col-md-6 col-lg-3">

                <!-- Item -->
                <div class="d-flex mb-6 mb-md-0">

                  <!-- Icon -->
                  <i class="fe fe-lock fs-lg text-primary"></i>

                  <!-- Body -->
                  <div class="ms-6">

                    <!-- Heading -->
                    <h6 class="mb-1 heading-xxs">
                      Secure shopping
                    </h6>

                    <!-- Text -->
                    <p class="mb-0 fs-sm text-muted">
                      You're in safe hands
                    </p>

                  </div>

                </div>

              </div>
              <div class="col-12 col-md-6 col-lg-3">

                <!-- Item -->
                <div class="d-flex">

                  <!-- Icon -->
                  <i class="fe fe-tag fs-lg text-primary"></i>

                  <!-- Body -->
                  <div class="ms-6">

                    <!-- Heading -->
                    <h6 class="mb-1 heading-xxs">
                      Over 10,000 Styles
                    </h6>

                    <!-- Text -->
                    <p class="mb-0 fs-sm text-muted">
                      We have everything you need
                    </p>

                  </div>

                </div>

              </div>
            </div>
          </div>
        </section>

        <section class="pt-12">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12 col-md-10 col-lg-8 col-xl-6 text-center">

                <!-- Preheading -->
                <h6 class="heading-xxs mb-3 text-gray-400">
                  New Collection
                </h6>

                <!-- Heading -->
                <h2 class="mb-4">Best Picks 2019</h2>

                <!-- Subheading -->
                <p class="mb-10 text-gray-500">
                  Appear, dry there darkness they're seas, dry waters thing fly midst. Beast, above fly brought Very green.
                </p>

              </div>
            </div>
            <div class="row">
              <div class="col-14 d-flex flex-column">

                <!-- Card -->
                <div class="card mb-7 text-body" style="min-height: 400px;">

                  <!-- Background -->
                  <div class="card-bg">
                    <div class="card-bg-img bg-cover" style="background-image: url({% static 'images/product-2.jpg' %});"></div>
                  </div>

                  <!-- Body -->
                  <div class="card-body my-auto px-md-10 text-center text-md-start">

                    <!-- Circle -->
                    <div class="card-circle card-circle-lg card-circle-end">
                      <strong>save</strong>
                      <span class="fs-4 fw-bold">30%</span>
                    </div>

                    <!-- Heading -->
                    <h4 class="mb-0">Printed men’s Shirts</h4>

                    <!-- Link -->
                    <a class="btn btn-link stretched-link px-0 text-reset" href="shop.html">
                      Shop Now <i class="fe fe-arrow-right ms-2"></i>
                    </a>

                  </div>

                </div>

              </div>
            </div>
          </div>
        </section>

        <section class="py-12">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12 col-md-10 col-lg-8 col-xl-6">

                <!-- Heading -->
                <h2 class="mb-4 text-center">Top month Sellers</h2>

                <!-- Nav -->
                <div class="nav justify-content-center mb-10">
                  <a class="nav-link active" href="#topSellersTab" data-bs-toggle="tab">Women</a>
                  <a class="nav-link" href="#topSellersTab" data-bs-toggle="tab">Men</a>
                  <a class="nav-link" href="#topSellersTab" data-bs-toggle="tab">Kids</a>
                </div>

              </div>
            </div>
            <div class="tab-content">
              <div class="tab-pane fade show active" id="topSellersTab">
                <div class="row">
                  <div class="col-6 col-md-4 col-lg-3">

                    <!-- Card -->
                    <div class="card mb-7">

                      <!-- Badge -->
                      <div class="badge bg-white text-body card-badge card-badge-start text-uppercase">
                        New
                      </div>

                      <!-- Image -->
                      <div class="card-img">

                        <!-- Image -->
                        <a class="card-img-hover" href="product.html">
                          <img class="card-img-top card-img-back" src="{% static 'images/product-120.jpg' %}" alt="...">
                          <img class="card-img-top card-img-front" src="{% static 'images/product-5.jpg' %}" alt="...">
                        </a>

                        <!-- Actions -->
                        <div class="card-actions">
                          <span class="card-action">
                            <button class="btn btn-xs btn-circle btn-white-primary" data-bs-toggle="modal" data-bs-target="#modalProduct">
                              <i class="fe fe-eye"></i>
                            </button>
                          </span>
                          <span class="card-action">
                            <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                              <i class="fe fe-shopping-cart"></i>
                            </button>
                          </span>
                          <span class="card-action">
                            <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                              <i class="fe fe-heart"></i>
                            </button>
                          </span>
                        </div>

                      </div>

                      <!-- Body -->
                      <div class="card-body px-0">

                        <!-- Category -->
                        <div class="fs-xs">
                          <a class="text-muted" href="shop.html">Shoes</a>
                        </div>

                        <!-- Title -->
                        <div class="fw-bold">
                          <a class="text-body" href="product.html">
                            Leather mid-heel Sandals
                          </a>
                        </div>

                        <!-- Price -->
                        <div class="fw-bold text-muted">
                          $129.00
                        </div>

                      </div>

                    </div>

                  </div>
                  <div class="col-6 col-md-4 col-lg-3">

                    <!-- Card -->
                    <div class="card mb-7">

                      <!-- Image -->
                      <div class="card-img">

                        <!-- Image -->
                        <a class="card-img-hover" href="product.html">
                          <img class="card-img-top card-img-back" src="{% static 'images/product-121.jpg' %}" alt="...">
                          <img class="card-img-top card-img-front" src="{% static 'images/product-6.jpg' %}" alt="...">
                        </a>

                        <!-- Actions -->
                        <div class="card-actions">
                          <span class="card-action">
                            <button class="btn btn-xs btn-circle btn-white-primary" data-bs-toggle="modal" data-bs-target="#modalProduct">
                              <i class="fe fe-eye"></i>
                            </button>
                          </span>
                          <span class="card-action">
                            <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                              <i class="fe fe-shopping-cart"></i>
                            </button>
                          </span>
                          <span class="card-action">
                            <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                              <i class="fe fe-heart"></i>
                            </button>
                          </span>
                        </div>

                      </div>

                      <!-- Body -->
                      <div class="card-body px-0">

                        <!-- Category -->
                        <div class="fs-xs">
                          <a class="text-muted" href="shop.html">Dresses</a>
                        </div>

                        <!-- Title -->
                        <div class="fw-bold">
                          <a class="text-body" href="product.html">
                            Cotton floral print Dress
                          </a>
                        </div>

                        <!-- Price -->
                        <div class="fw-bold text-muted">
                          $40.00
                        </div>

                      </div>

                    </div>

                  </div>
                  <div class="col-6 col-md-4 col-lg-3">

                    <!-- Card -->
                    <div class="card mb-7">

                      <!-- Badge -->
                      <div class="badge bg-dark card-badge card-badge-start text-uppercase">
                        Sale
                      </div>

                      <!-- Image -->
                      <div class="card-img">

                        <!-- Image -->
                        <a class="card-img-hover" href="product.html">
                          <img class="card-img-top card-img-back" src="{% static 'images/product-122.jpg' %}" alt="...">
                          <img class="card-img-top card-img-front" src="{% static 'images/product-7.jpg' %}" alt="...">
                        </a>

                        <!-- Actions -->
                        <div class="card-actions">
                          <span class="card-action">
                            <button class="btn btn-xs btn-circle btn-white-primary" data-bs-toggle="modal" data-bs-target="#modalProduct">
                              <i class="fe fe-eye"></i>
                            </button>
                          </span>
                          <span class="card-action">
                            <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                              <i class="fe fe-shopping-cart"></i>
                            </button>
                          </span>
                          <span class="card-action">
                            <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                              <i class="fe fe-heart"></i>
                            </button>
                          </span>
                        </div>

                      </div>

                      <!-- Body -->
                      <div class="card-body px-0">

                        <!-- Category -->
                        <div class="fs-xs">
                          <a class="text-muted" href="shop.html">Shoes</a>
                        </div>

                        <!-- Title -->
                        <div class="fw-bold">
                          <a class="text-body" href="product.html">
                            Leather Sneakers
                          </a>
                        </div>

                        <!-- Price -->
                        <div class="fw-bold">
                          <span class="fs-xs text-gray-350 text-decoration-line-through">$85.00</span>
                          <span class="text-primary">$85.00</span>
                        </div>

                      </div>

                    </div>

                  </div>
                  <div class="col-6 col-md-4 col-lg-3">

                    <!-- Card -->
                    <div class="card mb-7">

                      <!-- Image -->
                      <div class="card-img">

                        <!-- Image -->
                        <a href="#!">
                          <img class="card-img-top card-img-front" src="{% static 'images/product-8.jpg' %}" alt="...">
                        </a>

                        <!-- Actions -->
                        <div class="card-actions">
                          <span class="card-action">
                            <button class="btn btn-xs btn-circle btn-white-primary" data-bs-toggle="modal" data-bs-target="#modalProduct">
                              <i class="fe fe-eye"></i>
                            </button>
                          </span>
                          <span class="card-action">
                            <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                              <i class="fe fe-shopping-cart"></i>
                            </button>
                          </span>
                          <span class="card-action">
                            <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                              <i class="fe fe-heart"></i>
                            </button>
                          </span>
                        </div>

                      </div>

                      <!-- Body -->
                      <div class="card-body px-0">

                        <!-- Category -->
                        <div class="fs-xs">
                          <a class="text-muted" href="shop.html">Tops</a>
                        </div>

                        <!-- Title -->
                        <div class="fw-bold">
                          <a class="text-body" href="product.html">
                            Cropped cotton Top
                          </a>
                        </div>

                        <!-- Price -->
                        <div class="fw-bold text-muted">
                          $29.00
                        </div>

                      </div>

                    </div>

                  </div>
                  <div class="col-6 col-md-4 col-lg-3">

                    <!-- Card -->
                    <div class="card mb-7">

                      <!-- Image -->
                      <div class="card-img">

                        <!-- Image -->
                        <a href="#!">
                          <img class="card-img-top card-img-front" src="{% static 'images/product-9.jpg' %}" alt="...">
                        </a>

                        <!-- Actions -->
                        <div class="card-actions">
                          <span class="card-action">
                            <button class="btn btn-xs btn-circle btn-white-primary" data-bs-toggle="modal" data-bs-target="#modalProduct">
                              <i class="fe fe-eye"></i>
                            </button>
                          </span>
                          <span class="card-action">
                            <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                              <i class="fe fe-shopping-cart"></i>
                            </button>
                          </span>
                          <span class="card-action">
                            <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                              <i class="fe fe-heart"></i>
                            </button>
                          </span>
                        </div>

                      </div>

                      <!-- Body -->
                      <div class="card-body px-0">

                        <!-- Category -->
                        <div class="fs-xs">
                          <a class="text-muted" href="shop.html">Dresses</a>
                        </div>

                        <!-- Title -->
                        <div class="fw-bold">
                          <a class="text-body" href="product.html">
                            Floral print midi Dress
                          </a>
                        </div>

                        <!-- Price -->
                        <div class="fw-bold text-muted">
                          $50.00
                        </div>

                      </div>

                    </div>

                  </div>
                  <div class="col-6 col-md-4 col-lg-3">

                    <div class="card mb-7">

                      <div class="badge bg-dark card-badge card-badge-start text-uppercase">
                        Sale
                      </div>

                      <div class="card-img">
                        <a class="card-img-hover" href="product.html">
                          <img class="card-img-top card-img-back" src="{% static 'images/product-123.jpg' %}" alt="...">
                          <img class="card-img-top card-img-front" src="{% static 'images/product-10.jpg' %}" alt="...">
                        </a>
                        <div class="card-actions">
                          <span class="card-action">
                            <button class="btn btn-xs btn-circle btn-white-primary" data-bs-toggle="modal" data-bs-target="#modalProduct">
                              <i class="fe fe-eye"></i>
                            </button>
                          </span>
                          <span class="card-action">
                            <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                              <i class="fe fe-shopping-cart"></i>
                            </button>
                          </span>
                          <span class="card-action">
                            <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                              <i class="fe fe-heart"></i>
                            </button>
                          </span>
                        </div>
                      </div>

                      <div class="card-body px-0">
                        <div class="fs-xs">
                          <a class="text-muted" href="shop.html">Bags</a>
                        </div>
                        <div class="fw-bold">
                          <a class="text-body" href="product.html">
                            Suede cross body Bag
                          </a>
                        </div>
                        <div class="fw-bold">
                          <span class="fs-xs text-gray-350 text-decoration-line-through">$79.00</span>
                          <span class="text-primary">$49.00</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-6 col-md-4 col-lg-3">
                    <div class="card mb-7">
                      <div class="card-img">
                        <a class="card-img-hover" href="product.html">
                          <img class="card-img-top card-img-back" src="{% static 'images/product-124.jpg' %}" alt="...">
                          <img class="card-img-top card-img-front" src="{% static 'images/product-11.jp' %}g" alt="...">
                        </a>
                        <div class="card-actions">
                          <span class="card-action">
                            <button class="btn btn-xs btn-circle btn-white-primary" data-bs-toggle="modal" data-bs-target="#modalProduct">
                              <i class="fe fe-eye"></i>
                            </button>
                          </span>
                          <span class="card-action">
                            <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                              <i class="fe fe-shopping-cart"></i>
                            </button>
                          </span>
                          <span class="card-action">
                            <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                              <i class="fe fe-heart"></i>
                            </button>
                          </span>
                        </div>
                      </div>

                      <div class="card-body px-0">
                        <div class="fs-xs">
                          <a class="text-muted" href="shop.html">Skirts</a>
                        </div>
                        <div class="fw-bold">
                          <a class="text-body" href="product.html">
                            Printed A-line Skirt
                          </a>
                        </div>
                        <div class="fw-bold text-muted">
                          $79.00
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 col-md-4 col-lg-3">

                    <div class="card mb-7">
                      <div class="badge bg-white text-body card-badge card-badge text-uppercase">
                        New
                      </div>
                      <div class="card-img">
                        <a href="#!">
                          <img class="card-img-top card-img-front" src="{% static 'images/product-12.jpg' %}" alt="...">
                        </a>
                        <div class="card-actions">
                          <span class="card-action">
                            <button class="btn btn-xs btn-circle btn-white-primary" data-bs-toggle="modal" data-bs-target="#modalProduct">
                              <i class="fe fe-eye"></i>
                            </button>
                          </span>
                          <span class="card-action">
                            <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                              <i class="fe fe-shopping-cart"></i>
                            </button>
                          </span>
                          <span class="card-action">
                            <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                              <i class="fe fe-heart"></i>
                            </button>
                          </span>
                        </div>
                      </div>

                      <div class="card-body px-0">
                        <div class="fs-xs">
                          <a class="text-muted" href="shop.html">Shoes</a>
                        </div>
                        <div class="fw-bold">
                          <a class="text-body" href="product.html">
                            Heel strappy Sandals
                          </a>
                        </div>
                        <div class="fw-bold text-muted">
                          $90.00
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="mt-7 text-center">
                  <a class="link-underline" href="#!">Discover more</a>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="py-13 bg-cover" style="background-image: url({% static 'images/cover-4.jpg' %})">
          <div class="container">
            <div class="row justify-content-end">
              <div class="col-12 col-md-8 col-lg-6">
                <h3 class="mb-7">
                  Get -50% from <br>Summer Collection
                </h3>
                <div class="d-flex mb-9" data-countdown="" data-date="Dec 31, 2025 00:00:00">
                  <div class="text-center">
                    <div class="fs-1 fw-bolder text-primary" data-days="">00</div>
                    <div class="heading-xxs text-muted">Days</div>
                  </div>
                  <div class="px-1 px-md-4">
                    <div class="fs-2 fw-bolder text-primary">:</div>
                  </div>
                  <div class="text-center">
                    <div class="fs-1 fw-bolder text-primary" data-hours="">00</div>
                    <div class="heading-xxs text-muted">Hours</div>
                  </div>
                  <div class="px-1 px-md-4">
                    <div class="fs-2 fw-bolder text-primary">:</div>
                  </div>
                  <div class="text-center">
                    <div class="fs-1 fw-bolder text-primary" data-minutes="">00</div>
                    <div class="heading-xxs text-muted">Minutes</div>
                  </div>
                  <div class="px-1 px-md-4">
                    <div class="fs-2 fw-bolder text-primary">:</div>
                  </div>
                  <div class="text-center">
                    <div class="fs-1 fw-bolder text-primary" data-seconds="">00</div>
                    <div class="heading-xxs text-muted">Seconds</div>
                  </div>
                </div>
                <a class="btn btn-dark" href="shop.html">
                  Shop Now <i class="fe fe-arrow-right ms-2"></i>
                </a>
              </div>
            </div>
          </div>
        </section>
    {% endblock %}
</body>
</html>