{% extends 'base.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    
    <!-- Libs CSS -->
    <link rel="stylesheet" href="{% static 'css/libs.bundle.css' %}">
    
    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'css/theme.bundle.css' %}">
    
    <!-- Title -->
    <title>Shopper</title>
</head>
<body>
    {% block content %}
        <section class="py-8">
      <div class="container">
        <div class="row">


                  <!-- Collapse -->
                  <div class="collapse" id="priceCollapse" data-simplebar-collapse="#priceGroup">

                    <!-- Form group-->
                    <div class="form-group form-group-overflow mb-6" id="priceGroup">
                      <div class="form-check mb-3">
                        <input class="form-check-input" id="priceOne" type="checkbox" checked="">
                        <label class="form-check-label" for="priceOne">
                          $10.00 - $49.00
                        </label>
                      </div>
                      <div class="form-check mb-3">
                        <input class="form-check-input" id="priceTwo" type="checkbox" checked="">
                        <label class="form-check-label" for="priceTwo">
                          $50.00 - $99.00
                        </label>
                      </div>
                      <div class="form-check mb-3">
                        <input class="form-check-input" id="priceThree" type="checkbox">
                        <label class="form-check-label" for="priceThree">
                          $100.00 - $199.00
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" id="priceFour" type="checkbox">
                        <label class="form-check-label" for="priceFour">
                          $200.00 and Up
                        </label>
                      </div>
                    </div>

                    <!-- Range -->
                    <div class="d-flex align-items-center">

                      <!-- Input -->
                      <input type="number" class="form-control form-control-xs" placeholder="$10.00" min="10">

                      <!-- Divider -->
                      <div class="text-gray-350 mx-2">‒</div>

                      <!-- Input -->
                      <input type="number" class="form-control form-control-xs" placeholder="$350.00" max="350">

                    </div>

                  </div>

                </li>
              </ul>
            </form>

          </div>

            <!-- Header -->
            <div class="row align-items-center mb-7">
              <div class="col-12 col-md">

                <!-- Heading -->
                <h3 class="mb-1">Womens' Clothing</h3>

                <!-- Breadcrumb -->
                <ol class="breadcrumb mb-md-0 fs-xs text-gray-400">
                  <li class="breadcrumb-item">
                    <a class="text-gray-400" href="index.html">Home</a>
                  </li>
                  <li class="breadcrumb-item active">
                    Women's Clothing
                  </li>
                </ol>

              </div>
              <div class="col-12 col-md-auto">

                <!-- Select -->
                <select class="form-select form-select-xs">
                  <option selected="">Most popular</option>
                </select>

              </div>
            </div>

            <!-- Products -->
            <div class="row">
                {% for c in catalog %}
              <div class="col-6 col-md-4">

                <!-- Card -->
                <div class="card mb-7">

                  <!-- Badge -->
                  <div class="badge bg-white text-body card-badge card-badge-start text-uppercase">
                    New
                  </div>

                  <!-- Image -->
                  <div class="card-img">

                    <!-- Image -->
                    <a class="card-img-hover" href="{% url 'catalog:product' product_id=c.id %}">
                      <img class="card-img-top card-img-back" src="{{ c.image.url }}" alt="...">
                      <img class="card-img-top card-img-front" src="{{ c.image.url }}" alt="...">
                    </a>

                    <!-- Actions -->
                    <div class="card-actions">
                      <span class="card-action">
                        <button class="btn btn-xs btn-circle btn-white-primary" data-bs-toggle="modal" data-bs-target="#modalProduct">
                          <i class="fe fe-eye"></i>
                        </button>
                      </span>
                      <span class="card-action">
                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                          <i class="fe fe-shopping-cart"></i>
                        </button>
                      </span>
                      <span class="card-action">
                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                          <i class="fe fe-heart"></i>
                        </button>
                      </span>
                    </div>

                  </div>

                  <!-- Body -->
                  <div class="card-body px-0">

                    <!-- Category -->
                    <div class="fs-xs">
                      <a class="text-muted" href="shop.html">{{ c.category }}</a>
                    </div>

                    <!-- Title -->
                    <div class="fw-bold">
                      <a class="text-body" href="{% url 'catalog:product' product_id=c.id %}">
                          {{ c.name }}
                      </a>
                    </div>

                    <!-- Price -->
                    <div class="fw-bold text-muted">
                        {{ c.price }} тг.
                    </div>

                  </div>

                </div>

              </div>
                {% endfor %}
            </div>

            <!-- Pagination -->
            <nav class="d-flex justify-content-center justify-content-md-end">
              <ul class="pagination pagination-sm text-gray-400">
                <li class="page-item">
                  <a class="page-link page-link-arrow" href="#">
                    <i class="fa fa-caret-left"></i>
                  </a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">4</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">5</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">6</a>
                </li>
                <li class="page-item">
                  <a class="page-link page-link-arrow" href="#">
                    <i class="fa fa-caret-right"></i>
                  </a>
                </li>
              </ul>
            </nav>

          </div>
        </div>
      </div>
    </section>
    {% endblock %}

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnKt8_N4-FKOnhI_pSaDL7g_g-XI1-R9E"></script>
    <script src="{% static 'js/vendor.bundle.js' %}"></script>
    <script src="{% static 'js/theme.bundle.js' %}"></script>

  

</body>
</html>